{% extends 'base.html' %}
{% block title %} Mandi {% endblock title %}
<style>
    .card-body p{
        font size:50px;
    }
</style>

{% block body %}
<style>
    .container {
        position: relative;
      }
      
      /* Bottom right text */
      .text-block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
      }
</style>
<div class="container">
    <img src="/static/vege.jpg" class="d-block w-100 my-4" alt="Snow">
    <div class="text-block">
      <h1 style="margin:5px;">Mandi List</h1>
    </div>
  </div>
<div class="card  w-100 my-4" style=" position:relative;padding:10px;margin:20px;width:60rem;">
    <div class="card-body">
      <h3 class="card-title" style="margin:15px;">Mandsaur Mandi</h3>
      <h5 class="card-subtitle mb-2 text-muted"style="margin:15px;font family:Lucida Sans">Address: Agriculture Produce Market Committee, Mhow-Neemuch Road, Mandsaur</h5>
      <div class="description"style="margin:15px;">
        <p class="text"><strong>State: </strong>Madhya Pradesh,</p>
        <p class="text"><strong>City: </strong>Mandsaur,</p>
        <p class="text"><strong>Distict: </strong>Mandsaur,</p>
        <a href="https://www.kisaanhelpline.com/mandi/1/Mandsaur" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
    </div>
    </div>
  </div>
  <div class="card w-100 my-4" style=" position:relative;padding:10px;margin:20px;width:60rem;">
    <div class="card-body">
      <h3 class="card-title" style="margin:15px;">Ujjain Mandi</h3>
      <h5 class="card-subtitle mb-2 text-muted"style="margin:15px;font family:Lucida Sans">Address:KRISHI UPAJ MANDI SAMITI AGAR ROAD UJJAIN</h5>
      <div class="description"style="margin:15px;">
        <p class="text"><strong>State: </strong>Madhya Pradesh,</p>
        <p class="text"><strong>City: </strong>UJJAIN</p>
        <p class="text"><strong>Distict: </strong>UJJAIN</p>
        <a href="https://www.kisaanhelpline.com/mandi/1/Mandsaur" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
    </div>
    </div>
  </div>
  <div class="card w-100 my-4" style=" position:relative;padding:10px;margin:20px;width:60rem;">
    <div class="card-body">
      <h3 class="card-title" style="margin:15px;">Udaipur Mandi</h3>
      <h5 class="card-subtitle mb-2 text-muted"style="margin:15px;font family:Lucida Sans">Address:Krishi Upaj Mandi Samiti (F&V) Savina Udaipur, Rajasthan</h5>
      <div class="description"style="margin:15px;">
        <p class="text"><strong>State: </strong>Rajasthan</p>
        <p class="text"><strong>City: </strong>Udaipur</p>
        <p class="text"><strong>Distict: </strong>Udaipur</p>
        <a href="https://www.kisaanhelpline.com/mandi/1/Mandsaur" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
    </div>
    </div>
  </div>
  <div class="card w-100 my-4" style=" position:relative;padding:10px;margin:20px;width:60rem;">
    <div class="card-body">
      <h3 class="card-title" style="margin:15px;">Neemuch Mandi</h3>
      <h5 class="card-subtitle mb-2 text-muted"style="margin:15px;font family:Lucida Sans">Address:Krishi Upaj Mandi Samiti Neemuch, Satation Road Neemuch</h5>
      <div class="description"style="margin:15px;">
        <p class="text"><strong>State: </strong>Madhya Pradesh,</p>
        <p class="text"><strong>City: </strong>Neemuch</p>
        <p class="text"><strong>Distict: </strong>Neemuch</p>
        <a href="https://www.kisaanhelpline.com/mandi/1/Mandsaur" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
    </div>
    </div>
  </div>
  <div class="card w-100 my-4" style=" position:relative;padding:10px;margin:20px;width:60rem;">
    <div class="card-body">
      <h3 class="card-title" style="margin:15px;">Daloda Mandi</h3>
      <h5 class="card-subtitle mb-2 text-muted"style="margin:15px;font family:Lucida Sans">Address:सरदार वल्लभ भाई पटेल प्रांगण महू नीमच रोड, दलौदा जिला मन्दसौर (म. प्र.)</h5>
      <div class="description"style="margin:15px;">
        <p class="text"><strong>State: </strong>Madhya Pradesh,</p>
        <p class="text"><strong>City: </strong>Dalauda</p>
        <p class="text"><strong>Distict: </strong>Mandsaur</p>
        <a href="https://www.kisaanhelpline.com/mandi/1/Mandsaur" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
    </div>
    </div>
  </div>
  <div class="card w-100 my-4" style=" position:relative;padding:10px;margin:20px;width:60rem;">
    <div class="card-body">
      <h3 class="card-title" style="margin:15px;">Beohari Mandi</h3>
      <h5 class="card-subtitle mb-2 text-muted"style="margin:15px;font family:Lucida Sans">Address:Secretary, Krishi Upaj Mandi Samiti, Biyohari Distt. Shahdol</h5>
      <div class="description"style="margin:15px;">
        <p class="text"><strong>State: </strong>Madhya Pradesh,</p>
        <p class="text"><strong>City: </strong>Beohari</p>
        <p class="text"><strong>Distict: </strong>Shahdol</p>
        <a href="https://www.kisaanhelpline.com/mandi/1/Mandsaur" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
    </div>
    </div>
  </div>

{% endblock body %}