{% extends 'base.html' %}
{% block title %} MSP {% endblock title %}


{% block body %}
<style>
    table {
      margin: auto;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 90%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style> 
<br>
<span id="12">
    <h2 style="text-align: center;"><strong>MSP</strong></h2>
</span>
<table class="table-fill">
    <br><br>
    <colgroup><col width="116"><col span="9" width="89"></colgroup> 
    <tbody>
    <tr height="20">
    <th class="xl76" rowspan="2" width="116" height="40">Marketing Year</th> <th class="xl76" colspan="2" width="178">Paddy</th> <th class="xl80" rowspan="2">Wheat</th> <th class="xl76" rowspan="2" width="89">Jowar (Maldandi)</th> <th class="xl76" rowspan="2" width="89">Jowar (Hybrid)</th> <th class="xl77" rowspan="2">Bajra</th> <th class="xl77" rowspan="2">Ragi</th> <th class="xl77" rowspan="2">Maize&nbsp;</th> <th class="xl77" rowspan="2">Barley</th>
    </tr>
    <tr height="20">
    <th class="xl76" width="89" height="20">Common</th> <th class="xl76" width="89">Grade 'A'</th>
    </tr>
    <tr height="20">
    <td class="xl72" height="20">2010-11</td>
    <td class="xl72">1000</td>
    <td class="xl72">1030</td>
    <td class="xl72">1100</td>
    <td class="xl72">900</td>
    <td class="xl72">880</td>
    <td class="xl72">880</td>
    <td class="xl72">965</td>
    <td class="xl72">880</td>
    <td class="xl72">750</td>
    </tr>
    <tr height="67">
    <td class="xl72" height="67">2011-12</td>
    <td class="xl72">1080</td>
    <td class="xl72">1110</td>
    <td class="xl70" width="89">Rs.1120/-&nbsp;&nbsp;<br>(+Rs.50/- as bonus)</td>
    <td class="xl70" width="89">1000</td>
    <td class="xl70" width="89">980</td>
    <td class="xl70" width="89">980</td>
    <td class="xl70" width="89">1050</td>
    <td class="xl70" width="89">980</td>
    <td class="xl72">780</td>
    </tr>
    <tr height="20">
    <td class="xl72" height="20">2012-13</td>
    <td class="xl72">1250</td>
    <td class="xl72">1280</td>
    <td class="xl72">1285</td>
    <td class="xl72">1520</td>
    <td class="xl72">1500</td>
    <td class="xl72">1175</td>
    <td class="xl72">1500</td>
    <td class="xl72">1175</td>
    <td class="xl72">980</td>
    </tr>
    <tr height="20">
    <td class="xl73" height="20">2013-14</td>
    <td class="xl72">1310</td>
    <td class="xl72">1345</td>
    <td class="xl72">1350</td>
    <td class="xl72">1520</td>
    <td class="xl72">1500</td>
    <td class="xl72">1250</td>
    <td class="xl72">1500</td>
    <td class="xl72">1310</td>
    <td class="xl72">980</td>
    </tr>
    <tr height="20">
    <td class="xl74" height="20">2014-15</td>
    <td class="xl74">1360</td>
    <td class="xl74">1400</td>
    <td class="xl74">1400</td>
    <td class="xl74">1550</td>
    <td class="xl74">1530</td>
    <td class="xl74">1250</td>
    <td class="xl74">1550</td>
    <td class="xl74">1310</td>
    <td class="xl75">1100</td>
    </tr>
    <tr height="20">
    <td class="xl72" height="20">2015-16</td>
    <td class="xl72">1410</td>
    <td class="xl72">1450</td>
    <td class="xl72">1450</td>
    <td class="xl72">1590</td>
    <td class="xl72">1570</td>
    <td class="xl72">1275</td>
    <td class="xl72">1650</td>
    <td class="xl72">1325</td>
    <td class="xl72">1150<span style="white-space: pre;"> </span></td>
    </tr>
    <tr height="20">
    <td class="xl72" height="20">2016-17</td>
    <td class="xl72">1470</td>
    <td class="xl72">1510</td>
    <td class="xl72">1525</td>
    <td class="xl72">1650</td>
    <td class="xl72">1625</td>
    <td class="xl72">1330</td>
    <td class="xl72">1725&nbsp;</td>
    <td class="xl72">1365&nbsp;</td>
    <td class="xl72">1225</td>
    </tr>
    <tr height="20">
    <td class="xl72" height="20">2017-18<span style="white-space: pre;"> </span></td>
    <td class="xl72">1550<span style="white-space: pre;"> </span></td>
    <td class="xl72">1590</td>
    <td class="xl72">1625</td>
    <td class="xl72">1725</td>
    <td class="xl72">1700</td>
    <td class="xl72">1425</td>
    <td class="xl72">1900</td>
    <td class="xl72">1425<span style="white-space: pre;"> </span></td>
    <td class="xl72">1325</td>
    </tr>
    <tr height="20">
    <td class="xl72" height="20">2018-19<span style="white-space: pre;"> </span></td>
    <td class="xl72">1750</td>
    <td class="xl72">1770</td>
    <td class="xl72">1735</td>
    <td class="xl72">2450</td>
    <td class="xl72">2430</td>
    <td class="xl72">1950</td>
    <td class="xl72">2987&nbsp;</td>
    <td class="xl72">1700</td>
    <td class="xl72">1410<span style="white-space: pre;"> </span></td>
    </tr>
    <tr height="20">
    <td class="xl72" height="20">2019-20</td>
    <td class="xl72">1815</td>
    <td class="xl72">1835</td>
    <td class="xl72">1840</td>
    <td class="xl72">2570</td>
    <td class="xl72">2550&nbsp;</td>
    <td class="xl72">2000</td>
    <td class="xl72">3150&nbsp;</td>
    <td class="xl72">1760</td>
    <td class="xl72">1440<span style="white-space: pre;"> </span></td>
    </tr>
    <tr height="20">
    <td class="xl72" height="20">2020-21</td>
    <td class="xl72">1868</td>
    <td class="xl72">1888</td>
    <td class="xl72">1925</td>
    <td class="xl72">2640</td>
    <td class="xl72">2620</td>
    <td class="xl72">2150</td>
    <td class="xl72">3295</td>
    <td class="xl72">1850</td>
    <td class="xl72">1525</td>
    </tr>
    <tr height="20">
    <td class="xl72" height="20">2021-22</td>
    <td class="xl72">1940</td>
    <td class="xl72">1960</td>
    <td class="xl72">1975</td>
    <td class="xl72">2758</td>
    <td class="xl72">2738</td>
    <td class="xl72">2250</td>
    <td class="xl72">3377</td>
    <td class="xl72">1870</td>
    <td class="xl72">1600</td>
    </tr>
    <tr height="20">
    <td class="xl72" height="20">2022-23</td>
    <td class="xl72">&nbsp;</td>
    <td class="xl72">&nbsp;</td>
    <td class="xl72">2015</td>
    <td class="xl72">&nbsp;</td>
    <td class="xl72">&nbsp;</td>
    <td class="xl72">&nbsp;</td>
    <td class="xl72">&nbsp;</td>
    <td class="xl72">&nbsp;</td>
    <td class="xl72">1635</td>
    </tr>
    </tbody>
    </table>
    <br><br>
{% endblock body %}