{% extends 'base.html' %}
{% block title %} Videos {% endblock title %}

{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>




    <style>
        .ab{
            display: inline-block;
            position: relative;
            margin: 10px;
            top: 40px;
            left: 50px;
            bottom: 40px;
            width: 46%;
            height: 500px;
        }
        #vid {
            display: inline-block;
            position: relative;
            width: 45%;
            top: 15px;
            left: 30px;
        }
    </style>
    <div class=" ab embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E8ugt5CbEgQ?rel=0" ></iframe>
    </div>
    <div class="ab embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UFvL7wTFzl0?rel=0" allowfullscreen></iframe>
    </div>
    <div id="a" class="ab embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ovsw7tdneqE?rel=0" allowfullscreen></iframe>
    </div>
    <div class="ab embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yQgih6KAwLU?rel=0" allowfullscreen></iframe>
    </div>
    <div class="ab embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PhH9a0kIwmk?rel=0" allowfullscreen></iframe>
    </div>
    <div class="ab embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L06DNMRcy98?rel=0" allowfullscreen></iframe>
    </div>
    <div class="ab embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jvGC_dQJUtE?rel=0" allowfullscreen></iframe>
    </div>
    <div class="ab embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R6VdoV8dZRc?rel=0" allowfullscreen></iframe>
    </div>
    <div class="ab embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b2ieb8BZJuY?rel=0" allowfullscreen></iframe>
    </div>
{% endblock body %}